body {
    background-color: #fff4f4;
    color: #4c212c;
    -webkit-font-smoothing: antialiased;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
    vertical-align: middle;
}
.glass-nav {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.seigaiha-pattern {
    background-image: radial-gradient(circle at 100% 150%, transparent 24%, #af2330 25%, #af2330 28%, transparent 29%, transparent 36%, #af2330 36%, #af2330 40%, transparent 41%, transparent),
                      radial-gradient(circle at 0 150%, transparent 24%, #af2330 25%, #af2330 28%, transparent 29%, transparent 36%, #af2330 36%, #af2330 40%, transparent 41%, transparent),
                      radial-gradient(circle at 50% 100%, transparent 24%, #af2330 25%, #af2330 28%, transparent 29%, transparent 36%, #af2330 36%, #af2330 40%, transparent 41%, transparent),
                      radial-gradient(circle at 100% 50%, transparent 24%, #af2330 25%, #af2330 28%, transparent 29%, transparent 36%, #af2330 36%, #af2330 40%, transparent 41%, transparent),
                      radial-gradient(circle at 0 50%, transparent 24%, #af2330 25%, #af2330 28%, transparent 29%, transparent 36%, #af2330 36%, #af2330 40%, transparent 41%, transparent);
    background-size: 60px 30px;
    opacity: 0.02;
}
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #fff4f4; }
::-webkit-scrollbar-thumb { background: #dc9ca8; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #a06773; }
